@import '../partials/mixin';
@import '../partials/utilities';
@import '../partials/variables';
@import '../partials/extende';

main {
    .container-80 {
        position: relative;
        min-height: calc(100vh - 11.25rem);
        .results {
            text-align: center;
            @extend %shadow;
            width: 12.5rem;
            margin-top: 1.875rem;
            background-color: $black;
            border: .0938rem solid $ligthGray;
            color: $text;
            border-radius: .625rem;
            padding: .75rem 1.25rem;
            strong {
                margin-left: .625rem
            }
        }
    }
    .col {@include col-x(4, 25px)}

    .card-info{
        position: fixed;
        top: 52%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        border-radius: .9375rem;
        background-color: $black;
        width: 60%;
        height: 600px;
        overflow: scroll;
        @extend %shadow;
        z-index: 110;
        .info {
            padding: 1.875rem;
            strong {
                color: $red; 
                margin-right: 10px ;
            }
            p {color: $text;}
        }
    }
}

// responsive:
// desktop piccoli
@media screen and (max-width: 992px) {
    main {
        .col {
            @include col-x(3, 25px)           
        }
        .card-info {
                width: 70%;
                height: 31.25rem;
            }
    }
}
// tablet
@media screen and (max-width: 768px) {
    main {
        .col {
            @include col-x(2, 25px)
        }
        .card-info {
                width: 80%;
                height: 31.25rem;
                .image{
                    h3 {
                        font-size: 1.75rem;
                    }
                }
            }
    }
}
// mobile
@media screen and (max-width: 576px) {
     main {
        .col {
            @include col-x(1, 25px);
        }
        .card-info {
                width: 90%;
                height: 31.25rem;
                .image{
                    h3 {
                        font-size: 1.5625rem;
                    }
                }
            }
    }
}