@import '../partials/mixin';
@import '../partials/utilities';
@import '../partials/variables';
@import '../partials/extende';

main {
    .container-80 {
        position: relative;
        min-height: calc(100vh - 11.25rem);
        .results {
            text-align: center;
            @extend %shadow;
            width: 12.5rem;
            margin-top: 1.875rem;
            background-color: $black;
            border: .0938rem solid $ligthGray;
            color: $text;
            border-radius: .625rem;
            padding: .75rem 1.25rem;
            strong {
                margin-left: .625rem
            }
        }
    }
    .col {@include col-x(4, 25px)}

}

//? responsive:
//* desktop piccoli
@media screen and (max-width: 992px) {
    main {
        .col {
            @include col-x(3, 25px)           
        }
        
    }
}
//* tablet
@media screen and (max-width: 768px) {
    main {
        .col {
            @include col-x(2, 25px)
        }
        
    }
}
//* mobile
@media screen and (max-width: 576px) {
     main {
        .col {
            @include col-x(1, 25px);
        }
        
    }
}
